.container{
	height: 800px;
	width: 100%;
	background-image: url('background.jpg');
	
	background-image: center;
	 
	
}
.header{
	background-color: #4d4dff;
	height: 100px;
	width: 100%;
}

.title{
	width: 30%;
	float: left;
	text-align: center;
	margin-top: 1em;

}
.title a{
	color: white;
	text-decoration: none;
	font-style: oblique;
}

.menu{
	float: right;

}

.menu ul{
	display: flex;
	align-items: center;
	 list-style-type: disc;
  margin-top: 3em;
  
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  list-style:none;
}

.menu ul a{
	color: white;
	text-decoration: none;

}






.menu ul li{
	margin-right: 40px;
}

.content{
	height: 600px;
}

.wrapper{

	width: 500px;
	text-align: center;
	margin-left: 400px;
	margin-top: 100px;
	text-decoration-color: red;

	
	
}
.wrapper p{
	color: red;
	font-size: 20px;
	font-family: helvetica;
}
.wrapper a{

	background-color: hotpink;
 border: none;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


}

.wrapper a:hover{
	background-color: yellow; 
}

.special{
	color: orange;
}

.footer{
	background-color: #8c8c8c;
	height: 100px;
}
