.container{
	height: 1200px;
	width: 100%;
	background-image: url('image1.jpg');
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	  
}




.header{
		height: 100px;
	width: 100%;
}

.title{
	width: 30%;
	float: left;
	text-align: center;
	margin-top: 1em;

}
.title a{
	color: #4d4dff;
	text-decoration: none;
	font-style: oblique;
}

.menu{
	float: right;

}

.menu ul{
	display: flex;
	align-items: center;
	 
  margin-top: 3em;
  
  margin-left: 0;
  margin-right: 0;
  
  list-style:none;
}

.menu ul a{
	color:white;
	text-decoration: none;
	padding: 5px 10px;
	
	
	
	background-color: black;

}






.menu ul li{
	margin-right: 40px;
}

.content{
	height: 1000px;
	
}
.banner{
	height: 200px;
	width: 100%;
	background-image: url('banner.jpg');
	background-position: center;
	text-align: center;
	background-repeat: no-repeat;
	margin-top: 100px;
	display: inline-block;
	
	
	
	
}
.banner h1{
	color: white;

}
.banner p{
	color: white;
}

.grid-container {

	height: 400px;
	margin-top: 100px;
  display: grid;
  grid-template-columns:auto auto auto;
  text-align: center;
  





/*.wrapper{

	width: 500px;
	text-align: center;
	margin-left: 400px;
	margin-top: 100px;
	text-decoration-color: red;

	
	
}*/
/*.wrapper p{
	color: red;
	font-size: 20px;
	font-family: helvetica;
}*/
/*.wrapper a{

	background-color: hotpink;
 border: none;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


}*/

/*.wrapper a:hover{
	background-color: yellow; 
}

.special{
	color: orange;
}*/

.footer{
	background-color: #8c8c8c;
	height: 100px;
}
